OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
SERPER_API_KEY=<YOUR_SERPER_API_KEY>

# Deepchecks instrumentation
DEEPCHECKS_HOST=https://staging.llmdev.deepchecks.com/
DEEPCHECKS_API_KEY=eWFyb25mckBkZWVwY2hlY2tzLmNvbQ==.b3JnX2RlZXBjaGVja3NfZTdhMDFjOWY5N2UxZjU0NA==.J4LIHBn1fflBNFKr2GGDwQ
DEEPCHECKS_APP_NAME=Yaron Test
DEEPCHECKS_VERSION_NAME=Google ADK Test
